*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
  height: 80px;
  margin-bottom: 50px;
}
.nav{
  display: flex;
  line-height: 80px;
}
.nav a{
  padding: 10px;
}

main {
  height: calc(100vh - 80px);
}

p{
  margin: 35px 0;
}

.main-wrapper{ 
  width: 60%;
  margin: 0 auto;
}
